.def-inline dt {
    display: inline;
    font-weight: normal;
}
.def-inline dt:before {
    content: '';
    display: block;
}
.def-inline dd {
    display: inline-block;
    margin-left: 0.4em;
}
.smap--light {
    background-color: #f6f5f5;
}
.smap__maps {
    position: relative;
    display: none;
}
@media (min-width: 64em) {
    .smap__maps {
        display: block;
    }
}
.smap__gmap > div {
    position: absolute;
    top: 0;
    left: 0;
}
.smap__gmap:before {
    content: '';
    width: 100%;
    padding-bottom: 50%;
    display: block;
}
.smap__info {
    width: 340px;
    background: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    padding: 2em 1em;
    text-align: center;
    border-radius: 4px;
    position: absolute;
    left: 1em;
    max-height: 80%;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    margin: auto;
    height: auto;
    transition: transform 1s, opacity 1s, visibility 1s;
    transform: translateX(0%);
}
.smap__info--hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateX(10%);
}
.smap__info hr {
    max-width: 20%;
    height: 1px;
    background-color: #ddd;
    border: 0 none;
}
.smap__info dt {
    display: inline;
    font-weight: normal;
}
.smap__info dt:before {
    content: '';
    display: block;
}
.smap__info dd {
    display: inline-block;
    margin-left: 0.4em;
    margin-bottom: 0;
}
.smap__info .primary-button {
    cursor: pointer;
}
.smap__detail__close {
    width: 34px;
    height: 34px;
    position: absolute;
    right: 10px;
    top: 10px;
    background: #0a0a0a;
    border-radius: 50%;
    cursor: pointer;
}
.smap__detail__close:before, .smap__detail__close:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 50%;
    top: 50%;
    left: 0;
    right: 0;
    margin: -1px auto 0;
    background: #ddd;
}
.smap__detail__close:before {
    transform: rotate(45deg);
}
.smap__detail__close:after {
    transform: rotate(-45deg);
}
.smap__controls {
    display: none;
}
@media (min-width: 64em) {
    .smap__controls {
        display: flex;
        height: 100px;
        justify-content: space-between;
        align-items: center;
    }
}
.smap__filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 70%;
}
.smap__filter {
    width: 19%;
    height: 3em;
    background: white;
    appearance: none;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin-bottom: 0;
    color: inherit;
}
.smap__filter:focus, .smap__filter:hover {
    color: inherit;
    background: white;
}
.smap__filter:disabled,
.smap__filter:disabled:hover {
    background: #fafafa;
    color: #ccc;
    border: 0 none;
    cursor: not-allowed;
}
.smap__filter:disabled:hover {}
.smap__filter--active {
    border: 2px solid #389ed6;
}
.smap__dropdown {
    flex: 0 1 auto;
    flex-basis: 25%;
    margin-bottom: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 3em;
}
.smap__listview {
    display: block;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
}
@media (min-width: 64em) {
    .smap__listview {
        display: none
    }
}
.lv__set {
    background: white;
}
.lv__set--active {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 1em;
}
.lv__set__toggle {
    display: block;
    appearance: none;
    width: 100%;
    text-align: left;
    padding: 1em 2em;
    position: relative;
    background: white;
    color: inherit;
    border-bottom: 1px solid #cccccc;
    cursor: pointer;
    margin-bottom: 0;
}
.lv__set__toggle:hover, .lv__set__toggle:focus {
    background: white;
}
.lv__set__toggle:after {
    content: '';
	border-style: solid;
	border-width: 1px 1px 0 0;
	display: inline-block;
	height: 1em;
	width: 1em;
	right: 2em;
	position: absolute;
	vertical-align: top;
	top: 50%;
    margin: auto;
	transform: translateY(-88%) rotate(135deg);
}
.lv__set--active .lv__set__toggle:after {
	transform: translateY(-20%) rotate(-45deg);
}
.lv__cards {
    height: 0;
    opacity: 0;
    transform: translateY(-5%);
    overflow: hidden;
    transition: opacity 1s, transform 0.5s;
}
.lv__set--active .lv__cards {
    overflow: auto;
    opacity: 1;
    height: auto;
    transform: translateY(0);
}
.lv__st--active .lv__cards:not(:first-of-type) {
    border-top: 1px solid #ccc;
}
.lv__card-head {
    text-align: center;
    padding: 1em 2em;
    margin: 0;
}
.lv__card {
    padding: 0 2em;
    text-align: center;
}
.lv__card:before {
    content: '';
    width: 13%;
    height: 1px;
    display: inline-block;
    background: #ddd;
    margin: 1em auto;
}
.lv__card-head + .lv__card:before {
    content: none;
}
.lv__card .primary-button {
    margin-top: 0;
    margin-bottom: 0;
}
